<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
        <title></title>
    </head>
    <body>
        <div id="app">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" v-on:click="init()" autocomplete="off" checked> Listado
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" v-on:click="completadas()" id="option2" autocomplete="off"> Completadas
                </label>
            </div>
            <h1>Listado {{tipoListado}}</h1>
            <v-select v-on:input="filtroUsuario" :options="options"></v-select>
            <input type="text" class="form-control" v-model="search">
            <div v-for="info in filteredItems" class="container">
                <div class="row" style="margin:10px;">
                    <div class="col-sm-10">
                        {{ info.title }}
                    </div>
                    <div class="col-sm-2">
                        <button type="button" v-on:click="eliminar(info.id)" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="vue.min.js"></script>
        <script src="axios.min.js"></script>
        <script src="https://unpkg.com/vue-select@latest"></script>
        <script type="text/javascript">
            const urlData="https://jsonplaceholder.typicode.com";
            Vue.component('v-select', VueSelect.VueSelect)
            const app = new Vue({
                el: '#app',
                data () {
                    return {
                        search: '',
                        tipoListado:"completo",
                        lista: [],
                        options: []
                    }
                },
                methods:{
                    init(){
                        axios
                        .get(urlData+'/todos')
                        .then(response => {
                            this.lista = response.data;
                            this.tipoListado="completo";
                            this.options = this.lista.map(item => {
                                return item.userId;
                            }).filter((x, i, a) => a.indexOf(x) == i)
                        });
                    },
                    completadas(){
                        axios
                        .get(urlData+'/posts?completed=true')
                        .then(response => {this.lista = response.data; this.tipoListado="filtrado tareas completadas";});
                    },
                    filtroUsuario: function (a) {
                        
                    },
                    eliminar: function (id) {
                        axios
                        .delete(urlData+'/posts/'+id)
                        .then(response => ( console.log("error: ",response) ));
                    }
                },
                mounted () {
                    this.init();
                },
                computed: {
                    filteredItems() {
                        if(this.search!=''){
                            return this.lista.filter(item => {
                                return item.title.toLowerCase().indexOf(this.search.toLowerCase()) > -1
                            })
                        }else{
                            return this.lista;
                        }
                    }
                }
            });

        </script>
    </body>
</html>
